/* media query */
$midmobile: "(max-width: 420px)";
$mobile: "(max-width: 600px)";
$smallscreens: "(max-width: 767px)";
$ipad: "(max-width: 959px)";
$ipadLandscape: "(max-width: 1260px)";
$laptop: "(max-width: 1400px)";
